<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eden.mapper.EpayStaticMapper" >
  <resultMap id="BaseResultMap" type="com.eden.model.EpayStatic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attr_code" property="attrCode" jdbcType="VARCHAR" />
    <result column="attr_code1" property="attrCode1" jdbcType="VARCHAR" />
    <result column="attr_code2" property="attrCode2" jdbcType="VARCHAR" />
    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
    <result column="attr_source" property="attrSource" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attr_code, attr_code1, attr_code2, attr_name, attr_value, attr_source, remark, 
    update_time, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epay_static
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from epay_static
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eden.model.EpayStatic" >
    insert into epay_static (id, attr_code, attr_code1, 
      attr_code2, attr_name, attr_value, 
      attr_source, remark, update_time, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{attrCode,jdbcType=VARCHAR}, #{attrCode1,jdbcType=VARCHAR}, 
      #{attrCode2,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, 
      #{attrSource,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.eden.model.EpayStatic" >
    insert into epay_static
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrCode != null" >
        attr_code,
      </if>
      <if test="attrCode1 != null" >
        attr_code1,
      </if>
      <if test="attrCode2 != null" >
        attr_code2,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
      <if test="attrSource != null" >
        attr_source,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attrCode != null" >
        #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="attrCode1 != null" >
        #{attrCode1,jdbcType=VARCHAR},
      </if>
      <if test="attrCode2 != null" >
        #{attrCode2,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrSource != null" >
        #{attrSource,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eden.model.EpayStatic" >
    update epay_static
    <set >
      <if test="attrCode != null" >
        attr_code = #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="attrCode1 != null" >
        attr_code1 = #{attrCode1,jdbcType=VARCHAR},
      </if>
      <if test="attrCode2 != null" >
        attr_code2 = #{attrCode2,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="attrSource != null" >
        attr_source = #{attrSource,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eden.model.EpayStatic" >
    update epay_static
    set attr_code = #{attrCode,jdbcType=VARCHAR},
      attr_code1 = #{attrCode1,jdbcType=VARCHAR},
      attr_code2 = #{attrCode2,jdbcType=VARCHAR},
      attr_name = #{attrName,jdbcType=VARCHAR},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      attr_source = #{attrSource,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>